/* RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* GENERAL */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.dark-accent {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  padding: 24px 0;
  display: block;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* HERO */
.hero {
  background: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero-title {
  font-size: 56px;
  color: #fff;
  line-height: 1.07;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-btn {
  background: #4d5ae5;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  height: 56px;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* FEATURES */
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #2e2f42;
}

/* TEAM */
.team {
  background: #f4f4fd;
}

.team-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 72px;
  color: #2e2f42;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-info {
  text-align: center;
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #2e2f42;
}

.team-position {
  color: #434455;
}

/* PORTFOLIO */
.portfolio-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

/* FOOTER */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
}

.light-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
  line-height: 1.5;
}
